.head_{
    background-color: white;
    box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
}
.logo{
    margin: 1rem 0rem 0.9rem 25rem;
}
.podberem{
    font-family: 'Inter';
    color: #222222;
    font-style: normal;
    font-weight: 900;
    font-weight: bolder; 
    font-size: 3.23rem;
    margin: 5rem 0 0 16.25rem;
}
.zapolni{
    font-family: 'Inter';
    color: #222222;
    font-style: normal;
    font-weight: 400;
    font-size: 1.19rem;
    margin: 1.42rem 0 3.5rem 20.38rem;
}



.box_1_1{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.1rem solid #BDBDBD;
    box-shadow: 0rem 1.2rem 2.0rem rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    padding: 0 -5rem 0 -5rem;
    width: 50.4rem;
    height: 17.5rem;
    margin: 0 0 0 12.4rem;
}
.slider{
    width: 84%;
    cursor: pointer;
    margin: 3.6rem 3.5rem 0rem 4rem;
}
.different1000{
    font-family: 'Inter';
    color: #222222;
    font-style: normal;
    margin: 0.56rem 0rem 0 3.24rem;
    font-weight: 100;
    font-size: 1.36rem;
}
.different50000{
    font-family: 'Inter';
    color: #222222;
    font-style: normal;
    font-weight: 100;
    font-size: 1.34rem;
    margin: 0.56rem 0rem 0 31.5rem;
}
.summ1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 1.058rem;
    line-height: 1.9rem;
    color: #222222;
    margin: 0.9rem 0 0 3.36rem;
}
.summ30k{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.57rem;
    color: #222222;
    margin: 0.0rem 0 0 0.0rem;    
}
.border30k1{
    background: #F8F8F8;
    border-radius: 0.08rem;
    padding: 0.43rem 0.75rem 0.4rem 0.6rem;
}
.mainbutton1{
    background: linear-gradient(180deg, #FFDA1D 0%, #FBD307 100%);
    width: 18.8rem;
    height: 4.3rem;
    /*background: #E6C000;*/
    border-radius: 0.5rem;
    margin: 1.3rem 0 0 1.88rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #222222;
}
.summ2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.04rem;
    text-align: right;
    color: #222222;
    margin: 1.3rem 0 0 3.3rem;
}
.summ30k2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 1.58rem;
    text-align: right;
    color: #222222;
    margin-top: 0.68rem;
    margin-left: 0.1rem;
}
.lock{
    margin: -1.3rem 0 0 16.4rem;
    font-size: 150%;
}
.bezopasnost
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 0.79rem;
    color: #747474;
    margin: -0.9rem 0rem 0rem 12.77rem;
}
.box_1_2
{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.1rem solid #BDBDBD;
    border-radius: 0.4rem;
    margin: 1.87rem 0 0 12.48rem;
    width: 50.4rem;
    height: 6.6rem;
}
.kkol{
    margin: 2rem 0 0 4.22rem;
}
.p12000
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.88rem;
    color: #222222;
    margin: -3.55rem 0 0 7.68rem;
}
.day
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 1.05rem;
    color: #222222;
    margin: 0.1rem 0 0 7.73rem;
}
.dimond{
    margin: 2rem 0 0 3.98rem;
}
.percent
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.88rem;
    color: #222222;
    margin: -3.3rem 0 0 7.345rem;
}
.odobreniya
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 1.05rem;
    color: #222222;
    margin: 0.11rem 0 0 7.345rem; 
}
.card{
    margin: 2rem 0 0 3.9rem;
}
.mln80{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.84rem;
    color: #222222;
    margin: -3.4rem 0 0 7.2rem;
}
.vidano{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 1.05rem;
    color: #222222;
    margin: 0.16rem 0 0 7.3rem;
}
.why{
    margin: 10rem 0 0 0;
}
.pochemu{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.325rem;
    color: #222222;
    margin: 0.26rem 0 0 -1.4rem;
}
.garantii{
    font-family: 'Inter';
    font-style: normal;
    color: #898989;
    font-weight: 300;
    font-size: 1.285rem;
    margin: 2.82rem 49rem 0 -1.49rem;
    line-height: 118%;
    letter-spacing: 0.115rem;
    
}